<%- include("header") -%>
<html lang="en">



<div class="box" id="heading">
    <h1><%= listTitle %></h1>
</div>


<div class="box">
    <% for(let i=0;i < newListItem.length;i++) {%>
    <div class="item">

        <input type="checkbox" name="" id="">

        <p> <%= newListItem[i] %> </p>
        <form action="/deleteItem" method="post">
            <button class="Xbutton" name="buttonIndex" value="<%= i %>"  >X</button>
        </form>




    </div>


    <% } %>
    <form class="item" action="/" method="post">

        <input type="text" name="newItem" id="" placeholder="new item" autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %>">+</button>

    </form>
    <form action="/delete" method="post">

        <button style="width: 250px; background-color: #432e66;">click to clear list</button>
    </form>
</div>

<%- include("footer") -%>